nav{
    background-color: rgb(243, 243, 243);
    color: rgba(16, 11, 11, 0.984);
    padding: 10px;
}
body{
    padding-inline: 10px;
    scroll-padding: 10px;
    text-align: left;
    
}
.img{
    display: inline;
    padding: 30px;
    margin: 20px;
}
p{

    text-align: left;
    color: darkslategrey;
    padding: 10px;
    margin:30px;
}
center{
  text-align: center;
  text-align: justify;
  text-decoration-color: blanchedalmond;

}
header{
    text-align: center;
    margin: 5px;
    opacity: 50%;
    padding: 10px;
}
h1,h4{
    padding: 10px;
    text-align: justify;
   
    margin: 10px;
    color: rgb(70, 49, 49);
    
}
h2{
  text-align: left;

}
head{
    text-align: center;
}

nav ul li{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
nav ul li{
    display: inline;
    margin-right: 20px;
    text-align: center;
}
nav ul li a{
    color: rgb(75, 45, 45);
}
nav ul li a:hover{
    text-decoration:dashed;
    color: rgb(223, 214, 201);
}
section{
    padding: 20px;
    text-align: left;
}
footer{
    background-color:rgb(243, 236, 233);
    color:#171616;
    text-align: center;
    padding: 10px ;
    margin: 20px;
}
textarea{
    max-width: 200px;
    max-height: 200px;
}
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 300px;
  max-width: 300px;
  display:flex;
  gap: 80px;
  align-items: center;
}

/* Make the image to responsive */
.image {
  display: inline-block;
  gap: 30px;
  width: 300px;
  height: 300px;
  text-align: center;

}



.cover{
    background-image: url("air.jpg");
    background-size:cover;
    width: 1180px;
    height: 600px;
    background-position: center;
    margin-right: 0px;
    padding: 0px;
}
body{
    background-color: white;
  }
  @media screen and (min-width:320px ){
    body{
        background-color:rgb(16, 7, 7); 
    }
  }
  @media screen and (min-width:768px ) and (max-width:1024px ){
    body{
        background-color: rgb(212, 25, 25);
    }
}
    @media screen and (min-width:1224px ) {
        body{
            background-color: rgb(11, 240, 95);
        }
    }
    @media  screen and(min-width:1824px ) {
        body{
            background-color: rgb(14, 39, 228);
        }
        
    }
